<mat-card class="form-container" *ngIf="reminder">
  <mat-card-header>
    <h2>Форма Напоминания</h2>
  </mat-card-header>

  <mat-card-content>
    <form>
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Дата и время создания</mat-label>
          <input matInput [value]="reminder.date_creation | date: 'short'" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Дата и время выполнения</mat-label>
          <input matInput [value]="reminder.date_complite ? (reminder.date_complite | date: 'short') : 'Дата не указана'" readonly>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Статус</mat-label>
          <input matInput [value]="reminder.status.name" readonly>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Краткое описание</mat-label>
          <input matInput [value]="reminder.description" readonly>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Полное описание</mat-label>
          <textarea matInput [(ngModel)]="reminder.full_description" name="fullDescription" rows="4"></textarea>
        </mat-form-field>
      </div>

      <!-- Кнопка "Назад" -->
      <button mat-raised-button color="primary" (click)="goBack()">Назад</button>
    </form>
  </mat-card-content>
</mat-card>

<!-- Отображение сообщения, если напоминание не найдено -->
<div *ngIf="!reminder" class="no-reminder">
  <p>Напоминание не найдено.</p>
  <button mat-raised-button color="primary" (click)="goBack()">Назад к списку</button>
</div>
